body, html {
    height: 100%;
    margin: 0;
}
.home{
    height: 100%;
    background: url("img/Montanhas.jpg") no-repeat 50% 50% fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.ttt{
    float: left;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 0.75rem;
    min-height: 1px;
    }

nav {
    color: #fff;
    background-color: transparent;
    width: 100%;
    height: 56px;
    line-height: 56px;
  }


  .carousel .carousel-item {
    visibility: hidden;
    width: 200px;
    height: 100px; /* de 200 p/ 100 */
    position: absolute;
    top: 0;
    left: 0;
  }
  .carousel .carousel-item {
    width:300px !important;}

/* FINAL HEADER */

.one{
    height: 80%;
}
.bloco{
    height: 100%;
    
}
.bloco1{
    height: 70%;
    
}



.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: rgba(194, 220, 250, 0.7);
    outline: none;
  }
  .tabs .tab.disabled a:hover {
    color: rgba(255, 255, 255, 0.993);
    cursor: default;
  }
  .tabs .indicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #ffffff;
    will-change: left, right;
  }
  
#test1,#test2,#test3{
    height: 50em;
}

#test1{
    background-image: url("img/viagem1.jpeg");
}
#test2{
    background-image: url("img/viagem2.jpg");
}
#test3{
    background-image: url("img/viagem3.jpg");
}

.tabs {
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    height: 48px;
    width: 100%;
    background-color: transparent;
    margin: 0 auto;
    white-space: nowrap;
  }

.brobous{
    background-image: url("img/price.jpeg")
}
.tamcard{
    padding: 2%;
  }

  .tamcard1{
    padding: 5%;
  }
.btn{
    border-radius: 2px;
}